* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
@media(min-width:1280px){

  .banner-search-box {
    width: 145%;
    position: relative;
    margin: 10px 0
  }
  section {
    padding: 0 100px 0 100px;
  }
}
@media(max-width:1280px){
  .person-display-none {
    display: none;
  }
  section {
    padding: 0 40px 40px 40px;
  }
}
@media(min-width:960px) {
  .search-input{
    margin-right: 16px !important;
  }
}
.search-input{
  margin-bottom: 20px !important;
}
@media(max-width:960px) {
  .search-input{
    width:100%;
  }
}
@media(max-width:600px) {
  section {
    padding: 0 20px 40px 20px;
  }
}